<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebLoanApp Suite">
    <test verbose="2" preserve-order="true"
          name="RegressionTest1">
        <classes>
            <class name="com.wla.Users">
                <methods>
                    <include name="AddUser"/>
                </methods>
            </class>
            <class name="com.wla.Customers">
                <methods>
                    <include name="AddCustomer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>